<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>divan的博客</title>
    <link rel="stylesheet" href="/css/jquery.lineProgressbar.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
    <body>
        <header>
            <div class="wrap">
                <!--首页头部轮播图-->
                <div class="lunpoBox">
                    <div class="wrapImgBox" data-id="0">
                        <img class="wrapImg" src="/img/cover0.jpeg">
                    </div>
                    <div class="wrapImgBox" data-id="1">
                        <img class="wrapImg" src="/img/cover1.jpeg">
                    </div>
                    <div class="wrapImgBox" data-id="2">
                        <img class="wrapImg" src="/img/cover2.jpeg">
                    </div>
                    <div class="wrapImgBox" data-id="3">
                        <img class="wrapImg" src="/img/cover3.jpeg">
                    </div>
                    <div class="wrapImgBox" data-id="4">
                        <img class="wrapImg" src="/img/cover4.jpeg">
                    </div>
                    <div class="wrapImgBox" data-id="5">
                        <img class="wrapImg" src="/img/cover5.jpeg">
                    </div>
                    <div class="wrapImgBox" data-id="6">
                        <img class="wrapImg" src="/img/cover6.jpeg">
                    </div>
                </div>
                <!--右下轮播图图标-->
                <div class="all" data-circles=7>
                    <div class="circleBox active" data-id="0"></div>
                    <div class="circleBox" data-id="1"></div>
                    <div class="circleBox" data-id="2"></div>
                    <div class="circleBox" data-id="3"></div>
                    <div class="circleBox" data-id="4"></div>
                    <div class="circleBox" data-id="5"></div>
                    <div class="circleBox" data-id="6"></div>
                </div>
                <!--导航-->
                <div class="navigationBox">
                    <div class="navigationLeft">
                        <img class="navigationImg" src="/img/navigation.png">
                    </div>
                    <div class="navigationRight">
                        <span class="nav">
                            <span class="navCenter">首页</span>
                        </span>
                        <span class="nav">
                            <span class="navCenter">音乐</span>
                        </span>
                        <!--<span class="nav">-->
                            <!--<span class="navCenter">留言板</span>-->
                        <!--</span>-->
                        <!--<span class="nav">-->
                            <!--<span class="navCenter">相册</span>-->
                        <!--</span>-->
                        <span class="nav">
                            <span class="navCenter">关于我</span>
                        </span>
                    </div>
                </div>
                <!--标题和遮罩-->
                <div class="shade"></div>
                <div class="title">DIVAN's Blog</div>
            </div>
            <!--首页左侧搜索栏-->
            <div class="searchBox">
                <div class="searchHeaderBox">
                    <span class="searchTitle">搜索文章</span>
                    <input class="searchInput" placeholder="输入标题或关键词">
                    <img class="searchButton" src="/img/search.png">
                </div>
                <div class="resultBox"></div>
            </div>
        </header>
        <div class="mainBody">
        </div>
        <footer>
            © 2017-2018 Divan Wu, ALL RIGHTS RESERVED
        </footer>
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/echarts/4.0.2/echarts.js"></script>
        <script src="/js/home.js"></script>
    </body>
</html>